
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.hero {
    height: 200vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url("https://images.pexels.com/photos/4053814/pexels-photo-4053814.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}